#editovat {
	color: #337ab7;
	margin-right: 10px;
}

#smazat {
	color: red;
}

#aktualizovat-tlacitko {
	position: relative;
	float: right;
	text-align: center;
}

.page-header {
	padding-bottom: 14px;
}

/* .navbar, .navbar div, .navbar-brand, .navbar-header { */
/* 	min-height: 50px; */
/* 	max-height: 50px; */
/* 	height: 50px; */
/* 	font-size: 16px;  */
/* } */

.li-higher {
	padding: 5px;
}

.li-lower {
	padding: 4px !important;
}

.chart_tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 160px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 150px;
  z-index: 10;
}

.chart_legend {
    font-size: 12px;
  }

rect {
	cursor: pointer;
	stroke-width: 2;
}

rect.disabled { 
	fill: transparent !important; 
}