#editovat {
	color: #337ab7;
	margin-right: 10px;
}

#smazat {
	color: red;
	
}

#aktualizovat-tlacitko {
	position:relative;
	float: right;
	text-align: center;
}

.page-header {
  padding-bottom: 14px;
}