#editovat {
	color: #337ab7;
	margin-right: 10px;
}

#smazat {
	color: red;
}

#aktualizovat-tlacitko {
	position: relative;
	float: right;
	text-align: center;
}

.page-header {
	padding-bottom: 14px;
}

.li-higher {
	padding: 5px;
}

.li-lower {
	padding: 4px !important;
}

#chart {
  height: 500px;
  position: relative;
  width: 1000px;
}

.chart-tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	display: none;
	font-size: 12px;
	left: 193px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 210px;
	width: 150px;
	z-index: 10;
	overflow: hidden;
}

.chart-legend {
	font-size: 12px;
}
#div-chartpicker {
		height: 100%;
}

rect {
	cursor: pointer;
	stroke-width: 2;
}

rect.disabled {
	fill: transparent !important;
}

.no-padding {
	padding: 0px;
	padding-bottom: 15px
}